include @/components/nav/_nav

mixin header(data = {})
  -
    const {
      logo = {
        src: 'assets/images/logo.svg',
        width: 140,
        height: 12,
        alt: 'loremipsum.net',
        link: 'index.html'
      },
      navList = [],
    } = data

  header.header
    a.header__logo(href=logo.link target="_top")
      img.header__logo-img(
        src=logo.src,
        width=logo.width,
        height=logo.height,
        alt=logo.alt
      )
    button.header__toggle(type="button")
      span
      span
      span

    +nav({ list: navList, extraClass: 'header__nav' })